---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: taint-daemonset-staging
  namespace: argocd
spec:
  destination:
    namespace: fia
    name: staging
  project: staging
  source:
    path: components/taint-daemonset
    repoURL: https://github.com/interactivereduction/gitops.git
    targetRevision: HEAD
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: taint-daemonset-prod
  namespace: argocd
spec:
  destination:
    namespace: fia
    name: prod
  project: prod
  source:
    path: components/taint-daemonset
    repoURL: https://github.com/interactivereduction/gitops.git
    targetRevision: HEAD
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
