---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: redpanda-console
  namespace: argocd
spec:
  project: prod
  source:
    repoURL: https://charts.redpanda.com
    targetRevision: 3.3.0
    chart: console
    helm:
      values: |
        config:
          serde:
            messagePack:
              enabled: true
              topicNames: [".*_bluesky"]
          server:
            basePath: "/redpanda-console"
          kafka:
            brokers:
              - "130.246.81.166:9092"
              - "130.246.81.188:9092"
              - "130.246.80.191:9092"
  destination:
    namespace: redpanda
    name: prod
  syncPolicy:
    automated:
      prune: true
      selfHeal: false
    syncOptions:
      - CreateNamespace=true
