apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base
  - imat-filewatcher.yml

components:
  - ../../variants/staging

patchesStrategicMerge:
  - file-watcher-operator.yml
  - filewatcher-secret.yml
  - imat-secret.yml