apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  # Curiously this generates pod and svc names based on this application name, with a charecter limit of 63 for those, this name must remain this short
  name: csi-ceph-staging
  namespace: argocd
spec:
  project: staging
  source:
    repoURL: https://ceph.github.io/csi-charts
    targetRevision: 3.16.0
    chart: ceph-csi-cephfs
    helm:
      valuesObject:
        nodeplugin:
          tolerations:
            - effect: NoSchedule
              key: nvidia.com/gpu
              operator: Exists
  destination:
    namespace: fia
    name: staging
  syncPolicy:
    automated:
      prune: true
      selfHeal: false
    syncOptions:
      - CreateNamespace=true
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ceph-staging
  namespace: argocd
spec:
  destination:
    namespace: fia
    name: staging
  project: staging
  source:
    path: components/ceph/envs/staging
    repoURL: https://github.com/interactivereduction/gitops.git
    targetRevision: HEAD
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  # Curiously this generates pod and svc names based on this application name, with a character limit of 63 for those, this name must remain this short
  name: csi-ceph-prod
  namespace: argocd
spec:
  project: prod
  source:
    repoURL: https://ceph.github.io/csi-charts
    targetRevision: 3.16.0
    chart: ceph-csi-cephfs
    helm:
      valuesObject:
        nodeplugin:
          tolerations:
            - effect: NoSchedule
              key: nvidia.com/gpu
              operator: Exists
  destination:
    namespace: fia
    name: prod
  syncPolicy:
    automated:
      prune: true
      selfHeal: false
    syncOptions:
      - CreateNamespace=true
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ceph-prod
  namespace: argocd
spec:
  destination:
    namespace: fia
    name: prod
  project: prod
  source:
    path: components/ceph/envs/production
    repoURL: https://github.com/interactivereduction/gitops.git
    targetRevision: HEAD
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true