cluster:
  name: FIA-prod

destinations:
  - name: metrics-service
    type: prometheus
    url: https://mimir.observability.isis.rl.ac.uk/fia-prod/api/v1/push
    auth:
      type: basic
      usernameKey: username
      passwordKey: password
    secret:
      create: false
      name: mimir-basic-auth
      namespace: monitoring-system

  - name: logs-service
    type: loki
    url: https://loki.observability.isis.rl.ac.uk/fia-prod/loki/api/v1/push
    auth:
      type: basic
      usernameKey: username
      passwordKey: password
    secret:
      create: false
      name: loki-basic-auth
      namespace: monitoring-system

  - name: traces-service
    type: otlp
    protocol: http
    url: https://tempo.observability.isis.rl.ac.uk/fia-prod
    auth:
      type: basic
      usernameKey: username
      passwordKey: password
    secret:
      create: false
      name: tempo-basic-auth
      namespace: monitoring-system
    metrics: {enabled: true}
    logs: {enabled: true}
    traces: {enabled: true}

annotationAutodiscovery:
  enabled: true
  namespaces: [fia, rabbitmq, redpanda, falco, monitoring-system, ingress-nginx]

applicationObservability:
  enabled: true
  receivers:
    otlp:
      grpc:
        enabled: true
        port: 4317
      http:
        enabled: true
        port: 4318
  metrics:
    filters:
      metric:
        - IsMatch(resource.attributes["k8s.namespace.name"], "^fia|rabbitmq|redpanda|falco|monitoring-system|ingress-nginx$")
      logs:
        - IsMatch(resource.attributes["k8s.namespace.name"], "^fia|rabbitmq|redpanda|falco|monitoring-system|ingress-nginx$")
      traces:
        - IsMatch(resource.attributes["k8s.namespace.name"], "^fia|rabbitmq|redpanda|falco|monitoring-system|ingress-nginx$")

autoInstrumentation:
  enabled: false

clusterEvents:
  enabled: true
  namespaces: [fia, rabbitmq, redpanda, falco, monitoring-system, ingress-nginx]

clusterMetrics:
  enabled: true
  cadvisor:
    metricsTuning:
      includeNamespaces: [fia, rabbitmq, redpanda, falco, monitoring-system, ingress-nginx]
  kube-state-metrics:
    namespaces: [fia, rabbitmq, redpanda, falco, monitoring-system, ingress-nginx]

podLogs:
  enabled: true
  namespaces: [fia, rabbitmq, redpanda, falco, monitoring-system, ingress-nginx]

profiling:
  enabled: false

prometheusOperatorObjects:
  enabled: true
  crds:
    deploy: true
  probes:
    namespaces: [fia, rabbitmq, redpanda, falco, monitoring-system, ingress-nginx]
  podMonitors:
    namespaces: [fia, rabbitmq, redpanda, falco, monitoring-system, ingress-nginx]
  serviceMonitors:
    namespaces: [fia, rabbitmq, redpanda, falco, monitoring-system, ingress-nginx]

alloy-metrics:
  enabled: true
  extraConfig: |
    prometheus.scrape "redpanda_external" {
      targets = [
        { __address__ = "130.246.80.191:9644" },
        { __address__ = "130.246.81.188:9644" },
        { __address__ = "130.246.81.166:9644" },
      ]
      scrape_interval = "30s"
      scrape_timeout  = "10s"
      metrics_path    = "/public_metrics"
      forward_to = [prometheus.relabel.redpanda_external.receiver]
    }
    prometheus.relabel "redpanda_external" {
      forward_to = [prometheus.remote_write.metrics_service.receiver]
      rule {
        target_label = "cluster"
        replacement  = "redpanda-external"
      }
    }

alloy-singleton:
  enabled: true

alloy-logs:
  enabled: true

alloy-receiver:
  enabled: true
  alloy:
    extraPorts:
      - name: otlp-grpc
        port: 4317
        targetPort: 4317
        protocol: TCP
      - name: otlp-http
        port: 4318
        targetPort: 4318
        protocol: TCP

alloy-profiles:
  enabled: false
