apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: csimanila-stage
  namespace: argocd
spec:
  project: staging
  source:
    repoURL: https://kubernetes.github.io/cloud-provider-openstack
    targetRevision: 2.35.0
    chart: openstack-manila-csi
    helm:
      nameOverride: manila-csi
      fullNameOverride: openstack-manila-csi
      nodeplugin:
        tolerations:
          - effect: NoSchedule
            key: nvidia.com/gpu
            operator: Exists
      valuesObject:
        shareProtocols:
          - protocolSelector: CEPHFS
            fsGroupPolicy: None
            fwdNodePluginEndpoint:
              dir: /var/lib/kubelet/plugins/cephfs.csi.ceph.com
              sockFile: csi.sock
  destination:
    namespace: fia
    name: staging
  syncPolicy:
    automated:
      prune: true
      selfHeal: false
    syncOptions:
      - CreateNamespace=true
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: manila-staging
  namespace: argocd
spec:
  destination:
    namespace: fia
    name: staging
  project: staging
  source:
    path: components/manila/staging
    repoURL: https://github.com/interactivereduction/gitops.git
    targetRevision: HEAD
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: csimanila-prod
  namespace: argocd
spec:
  project: prod
  source:
    repoURL: https://kubernetes.github.io/cloud-provider-openstack
    targetRevision: 2.35.0
    chart: openstack-manila-csi
    helm:
      nameOverride: manila-csi
      fullNameOverride: manila-csi
      nodeplugin:
        tolerations:
          - effect: NoSchedule
            key: nvidia.com/gpu
            operator: Exists
      valuesObject:
        shareProtocols:
          - protocolSelector: CEPHFS
            fsGroupPolicy: None
            fwdNodePluginEndpoint:
              dir: /var/lib/kubelet/plugins/cephfs.csi.ceph.com
              sockFile: csi.sock
  destination:
    namespace: fia
    name: prod
  syncPolicy:
    automated:
      prune: true
      selfHeal: false
    syncOptions:
      - CreateNamespace=true
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: manila-prod
  namespace: argocd
spec:
  destination:
    namespace: fia
    name: prod
  project: prod
  source:
    path: components/manila/prod
    repoURL: https://github.com/interactivereduction/gitops.git
    targetRevision: HEAD
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true