apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

components:
  - ../../variants/production

patchesStrategicMerge:
  - file-watcher-operator.yml
  - filewatcher-secret.yml
  - imat-secret.yml