apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: csi-smb-staging
  namespace: argocd
spec:
  project: staging
  source:
    repoURL: https://raw.githubusercontent.com/kubernetes-csi/csi-driver-smb/master/charts
    targetRevision: 1.19.1
    chart: csi-driver-smb
  destination:
    namespace: fia
    name: staging
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: archive-staging
  namespace: argocd
spec:
  destination:
    namespace: fia
    name: staging
  project: staging
  source:
    path: components/archive/envs/staging
    repoURL: https://github.com/interactivereduction/gitops.git
    targetRevision: HEAD
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: csi-smb-prod
  namespace: argocd
spec:
  project: prod
  source:
    repoURL: https://raw.githubusercontent.com/kubernetes-csi/csi-driver-smb/master/charts
    targetRevision: 1.19.1
    chart: csi-driver-smb
  destination:
    namespace: fia
    name: prod
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: archive-prod
  namespace: argocd
spec:
  destination:
    namespace: fia
    name: prod
  project: prod
  source:
    path: components/archive/envs/production
    repoURL: https://github.com/interactivereduction/gitops.git
    targetRevision: HEAD
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true