apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
components:
  - ../../variants/production
patches:
  - path: plotting-service.yml
  - path: plotting-service-secret.yml
  - path: imat-secret.yml